*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tt{
  margin-top: 70px;}


.card {
  width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 1px;
  border-radius: 30px;
  height: auto;
  overflow: hidden;
}
.intro{
  padding: 50px;
}
.subscription,
.why-us {
  padding: 30px;
}

.rt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.button{
  /* position: absolute; */
  /* top: -2; */
  margin-top: 50px;
  display: block;
  width: 100%;
}
